


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show{
  z-index:9;
  background-color:whitesmoke;
}

.gridscroll{
  display: flex;
  margin:0px;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color:whitesmoke;
  height:80px;
  bottom: 0;
  left: 0;
  right:0;
  padding:10px;
  }

.footer-item{
  color:darkgrey;
  cursor: pointer;
}

.footer-item p{
  font-size: 13px;
  font-family: 'Urbanist', sans-serif;
  font-weight: bold;
}


.footer-item:hover p{
  color:black
}

.footer-item div{
  color:black;
  font-size: 13px;
  font-family: 'Urbanist', sans-serif;
  font-weight: bold;
} 

.footer-item:hover div{
  color:rgba(0,128,128,0.8)
} 


.icons{
  display:flex;
  margin:15px 15px 5px 15px;
  justify-content: space-between;
  align-items: center;
}

.product-title{
  height:60px;
  padding:10px;
  margin: 25px 0px 10px 0px;
  background-color: rgba(128,128,128,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bolder;
  
}

.product-title span{
  font-size: 15px;
  font-weight: bolder;
  color:rgb(37, 167, 167);
  text-align: right;
  font-family: 'Urbanist', sans-serif;
}

.desc{
  color:darkgrey;
  font-size: 13px;
  font-weight: 500;
  padding:5px 0px 0px 5px;
}
.desc p{
  font-family: 'Urbanist', sans-serif;
  font-weight: bold;
}



.desc div{
  color:black;
  font-weight:bolder;
  font-size: 12px;
}

.amt{
  margin:10px 5px 0px 0px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  
}

#rate{
  font-size: 11px;
  color:darkgrey;
  margin-right: 40px;
}

.likeStyle {
  color:red;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.slide{
  background-image:url('./img/homepage1.jpg');
  background-size: cover;
  background-position:center;
  animation: slideshow 5s ease-in-out 2s infinite reverse;
  
}

@keyframes slideshow {
  0% {
    background-position: 0 0;
    background-image:url('./img/homepage1.jpg');
    
  }
  25% {
    background-position: -50% 0;
    background-image:url('./img/homepage1.jpg');
    
  }
  50%{
    background-position: -100% 0;
    background-image:url('./img/homepage2.jpg');
    
  }
  100%{
    background-position: -150% 0;
    background-image:url('./img/homepage2.jpg');
    
  }

}

.nav-link{
  text-decoration: none;
  
}
.review{
  color:darkgrey;
}

.review:hover{
  color:teal;
  border-bottom:2px solid teal;
}

.desc-review{
  color:darkgrey;
  
}

.desc-review span{
  color:black;
  margin-left:7px;
}

.cart{
  font-size:13px;
  color:darkgrey;
  font-family:'Urbanist', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:20px 15px 20px 15px;
}

.cart p{
  color:teal;
  font-size: 25px;
}

.grow{
  -webkit-animation: fade 3s ease-in-out;
  animation: fade 3s ease-in-out;
}


@-webkit-keyframes fade {
  0% {opacity: 1;transform: scale(1);}
  25% {opacity: 1;transform: scale(2);}
  50% {opacity: 0;}
  75% {opacity: 1;transform: scale(3);}
  100% {opacity: 0;}
}

@keyframes fade {
  0% {opacity: 1;transform: scale(1);}
  25% {opacity: 1;transform: scale(2);}
  50% {opacity: 0;}
  75% {opacity: 1;transform: scale(3);}
  100% {opacity: 0;}
}



.details{
  -webkit-animation: fade 2s ease-in-out;
  animation: flash 2s ease-in-out;
  margin-bottom: 20px;
}

@-webkit-keyframes flash {
  0% {opacity: 0;background-color: whitesmoke;}
  50% {opacity: 0;background-color: whitesmoke;}
  100% {opacity: 1;}
}

@keyframes flash {
  0% {opacity: 0;background-color: whitesmoke;}
  50% {opacity: 0;background-color: whitesmoke;}
  100% {opacity: 1;}
}